<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <th:block th:include="fragments/head :: head"></th:block>
        <link href="/css/jquery.dataTables.min.css" rel="stylesheet" />
    </head>
    <body>
        <th:block th:include="fragments/header :: header"></th:block>
        <div class="container-fluid">
          <div class="row">
            <th:block th:include="fragments/menu :: menu"></th:block>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              <h3 class="sub-header">查看设备信息</h3>
              <div>
                <input type="hidden" id="areaCode" th:field="${device.areaCode}" />
                <input type="hidden" id="locationAreaCode" th:field="${device.locationAreaCode}" />
                <div class="row show-grid">
                  <label class="col-sm-2 text-right">设备ID：</label>
                  <div class="col-md-6" th:text="${device.glImei}"></div>
                </div>
                <div class="row show-grid">
                  <label class="col-sm-2 text-right">设备名称：</label>
                  <div class="col-md-6" th:text="${device.glName}"></div>
                </div>
                <div class="row show-grid">
                  <label class="col-sm-2 text-right">报警联系人：</label>
                  <div class="col-md-6" th:text="${device.userName}"></div>
                </div>
                <div class="row show-grid">
                  <label class="col-sm-2 text-right">联系人手机：</label>
                  <div class="col-md-6" th:text="${device.userPhones}" id="userPhones"></div>
                </div>
                <div class="row show-grid">
                  <label class="col-sm-2 text-right">设备地址：</label>
                  <div class="col-md-6" th:text="${device.address}" id="address"></div>
                </div>
                <div class="row show-grid" th:if="${#strings.length(device.locationAddress) > 0}">
                  <label class="col-sm-2 text-right">自动定位的地址：</label>
                  <div class="col-md-6" th:text="${device.locationAddress}" id="locationAddress"></div>
                  <div class="col-md-4">注：定位地址仅供参考</div>
                </div>
              </div>
              <br />
              <h4 class="sub-header">报警器成员列表</h4>
              <div class="table-responsive">
                <table id="deviceAppUser" class="table table-striped">
                  <thead>
                    <tr>
                      <th>绑定时间</th>
                      <th>成员ID</th>
                      <th>成员类型</th>
                      <th>手机号码</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                </table>
              </div>
              <br />
              <h4 class="sub-header">警报记录</h4>
              <div class="table-responsive">
                <table id="deviceAlarm" class="table table-striped">
                  <thead>
                    <tr>
                      <th>警报时间</th>
                      <th>警报类型</th>
                      <th>状态</th>
                      <th>解除时间</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>

        <script src="/js/jquery.min.js"></script>
        <script src="/js/jquery.dataTables.min.js"></script>
        <script src="/js/moment.js"></script>
        <script src="/js/dict.js?area_code,role_device,alarm_type,alarm_status"></script>
        <script src="/bootstrap/js/bootstrap.min.js"></script>

        <script th:inline="javascript">
        /*<![CDATA[*/
        $('#menu-device').addClass("active");

        $(document).ready(function() {
            var userPhones = $("#userPhones").text();
            if (userPhones) {
                userPhones = JSON.parse(userPhones);
                $("#userPhones").text(userPhones.join());
            }

            $("#address").text(areaCodeDict.init().getAreaName($("#areaCode").val()) + $("#address").text());

            var checkAreaCode = function() {
                if ($("#areaCode").val() != $("#locationAreaCode").val()) {
                    $("#locationAddress").addClass('bg-danger');
                }
            }
            checkAreaCode();

            $('#deviceAppUser').DataTable( {
                "processing": false,
                "serverSide": true,
                "searching": false,
                "lengthChange": false,
                "pageLength": 10,
                "ordering": false,
                "ajax": "/device/user/list/" + [[${device.glImei}]],
                "columns": [
                    { "data": "createdAt", "render": function(data, type, full, meta) {
                        return moment(data).format('YYYY-MM-DD HH:mm:ss');
                    }},
                    { "data": "userId" },
                    { "data": "role", "render": function(data, type, full, meta) {
                        return dict(data, 'role_device');
                    }},
                    { "data": "appUser.phone" },
                    { "data": function(row, type, val, meta) {
                        if (row.role != "MANAGER") {
                            var op =
                                '<ul class="list-inline">' +
                                '<li><a href="/device/user/delete/' + row.id + '">删除</a></li>' +
                                '<li><a href="/device/user/admin/' + row.id + '">设为管理员</a></li></ul>';
                            return op;
                        } else {
                            return "";
                        }
                    }}
                ]
            } );

            $('#deviceAlarm').DataTable( {
                "processing": false,
                "serverSide": true,
                "searching": false,
                "lengthChange": false,
                "pageLength": 10,
                "ordering": false,
                "ajax": "/alarm/list?glImei=" + [[${device.glImei}]],
                "columns": [
                    { "data": "timestamp", "render": function(data, type, full, meta) {
                        return moment(data * 1000).format('YYYY-MM-DD HH:mm:ss');
                    }},
                    { "data": "type", "render": function(data, type, full, meta) {
                        return dict(data, 'alarm_type');
                    }},
                    { "data": "status", "render": function(data, type, full, meta) {
                        return dict(data, 'alarm_status');
                    }},
                    { "data": "updatedAt", "render": function(data, type, full, meta) {
                        return full.status == 0 ? moment(data).format('YYYY-MM-DD HH:mm:ss') : "";
                    }}
                ]
            } );
        } );
        /*]]>*/
        </script>
    </body>
</html>