<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>智慧消防云服务平台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
    <link rel="stylesheet" href="/AdminLTE/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/dist/css/AdminLTE.min.css"/>
    <link rel="stylesheet" href="/AdminLTE/dist/css/skins/skin-blue.min.css"/>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<div th:fragment="menu">
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar Menu -->
            <ul class="sidebar-menu">
                <li id="menu-home">
                    <a href="/"><i class="fa fa-dashboard"></i> <span>首页</span></a>
                </li>
                <li id="menu-gateway">
                    <a href="/gateway"><i class="fa fa-hdd-o"></i> <span>网关管理</span></a>
                </li>
                <li id="menu-alarm">
                    <a href="/alarm"><i class="fa fa-warning"></i> <span>报警记录</span></a>
                </li>
                <li id="menu-gateway-data-statistics" sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href=""><i class="fa fa-pie-chart"></i><span>报警数据统计</span></a>
                </li>
                <li id="menu-gateway-setting" sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/gateway/setting"><i class="fa fa-gear"></i> <span>设备参数设置</span></a>
                </li>
                <li id="menu-push-setting-app" sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/push_setting/app"><i class="fa fa-share-square-o"></i> <span>APP推送设置</span></a>
                </li>
                <li id="menu-push-setting-sms" sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/push_setting/sms"><i class="fa fa-comment"></i> <span>短信推送设置</span></a>
                </li>
                <!--<li id="menu-news" sec:authorize="hasRole('ROLE_MANAGER')">-->
                    <!--<a href="/news"><i class="fa fa-newspaper-o"></i> <span>新闻资讯</span></a>-->
                <!--</li>-->
                <li id="menu-user" sec:authorize="hasAnyRole('ROLE_MANAGER', 'ROLE_AGENT')">
                    <a href="/user"><i class="fa fa-users"></i> <span>用户帐号管理</span></a>
                </li>
                <li id="menu-channel" sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/channel"><i class="fa fa-user-secret"></i> <span>渠道帐号管理</span></a>
                </li>
                <li id="menu-log" sec:authorize="hasRole('ROLE_MANAGER')">
                    <a href="/log"><i class="fa fa-file-text-o"></i> <span>操作日志</span></a>
                </li>
                <li id="menu-profile">
                    <a href="/profile"><i class="fa fa-user"></i> <span>个人设置</span></a>
                </li>
            </ul>
            <!-- /.sidebar-menu -->
        </section>
        <!-- /.sidebar -->
    </aside>
</div>

</body>
</html>