<!DOCTYPE html>
<html>
<head>
    <th:block th:include="fragments/head :: head"></th:block>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="fragments/header :: main-header"></th:block>
    <th:block th:include="fragments/menu :: menu"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <th:block th:include="fragments/header :: content-header"></th:block>
        <!-- Main content -->
        <section class="content">
            <th:block th:include="fragments/header :: message"></th:block>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">修改密码</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="profile" class="form-horizontal" th:action="@{/profile/changePassword}" method="post">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="oldPassword" class="col-sm-2 control-label">原密码：</label>
                                    <div class="col-sm-4">
                                        <input type="password" id="oldPassword" name="oldPassword" class="form-control"
                                               required="true"/>
                                    </div>
                                </div>
                                <div class="form-group" id="d_newPassword">
                                    <label for="newPassword" class="col-sm-2 control-label">新密码：</label>
                                    <div class="col-sm-4">
                                        <input type="password" id="newPassword" name="newPassword" class="form-control"
                                               required="true"/>
                                    </div>
                                </div>
                                <div class="form-group" id="d_reNewPassword">
                                    <label for="reNewPassword" class="col-sm-2 control-label">确认新密码：</label>
                                    <div class="col-sm-4">
                                        <input type="password" id="reNewPassword" name="reNewPassword"
                                               class="form-control" required="true"/>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-4">
                                        <button type="submit" class="btn btn-primary">确认</button>
                                        &nbsp;&nbsp;
                                        <button type="button" class="btn btn-default">取消</button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-footer -->
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:include="fragments/footer :: footer"></th:block>
</div>

<th:block th:include="fragments/footer :: js"></th:block>

<script th:inline="javascript">
/*<![CDATA[*/
fragment_polish("profile");

$("#profile").submit(function(event) {
    $(".help-block").remove();
    $("div").removeClass("has-error");

    var newPassword = $("#newPassword").val();
    if (newPassword.length < 6) {
        $("#newPassword").parent().after('<span class="help-block">新密码长度应大于6位！</span>');
        $("#d_newPassword").addClass("has-error");
        return false;
    }

    var reNewPassword = $("#reNewPassword").val();
    if (newPassword != reNewPassword) {
        $("#reNewPassword").parent().after('<span class="help-block">新密码与确认密码输入不一致！</span>');
        $("#d_reNewPassword").addClass("has-error");
        return false;
    }

    return;
});

$(".btn-default").click(function() {
    parent.history.back();
    return false;
});
/*]]>*/
</script>
</body>
</html>