<!DOCTYPE html>
<html>
<head>
    <th:block th:include="fragments/head :: head"></th:block>
    <link rel="stylesheet" href="/AdminLTE/plugins/datatables/dataTables.bootstrap.css"/>
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
    <th:block th:include="fragments/header :: main-header"></th:block>
    <th:block th:include="fragments/menu :: menu"></th:block>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <th:block th:include="fragments/header :: content-header"></th:block>
        <!-- Main content -->
        <section class="content">
            <th:block th:include="fragments/header :: message"></th:block>
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h2 class="box-title">探针参数设置</h2>
                            <div class="box-tools pull-right">
                                <form class="form-inline">
                                    <!--<div class="form-group form-group-sm" sec:authorize="hasRole('ROLE_MANAGER')">-->
                                    <!--渠道:-->
                                    <!--<select id="channelId" name="channelId" class="form-control">-->
                                    <!--<option value=""></option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-group-sm" sec:authorize="hasRole('ROLE_MANAGER')">-->
                                    <!--代理:-->
                                    <!--<select id="agent" name="agent" class="form-control">-->
                                    <!--<option value=""></option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-group-sm" sec:authorize="hasRole('ROLE_MANAGER')">-->
                                    <!--小区:-->
                                    <!--<select id="area" name="area" class="form-control">-->
                                    <!--<option value=""></option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-group-sm" sec:authorize="hasRole('ROLE_MANAGER')">-->
                                    <!--楼房:-->
                                    <!--<select id="house" name="house" class="form-control">-->
                                    <!--<option value=""></option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <!--<div class="form-group form-group-sm" sec:authorize="hasRole('ROLE_MANAGER')">-->
                                    <!--网关ID:-->
                                    <!--<select id="gatewayId" name="gatewayId" class="form-control">-->
                                    <!--<option value=""></option>-->
                                    <!--</select>-->
                                    <!--</div>-->
                                    <div id="distpicker" class="form-group form-group-sm">
                                        地址:
                                        <select id="province" name="province" class="form-control"></select>
                                        <select id="city" name="city" class="form-control"></select>
                                        <select id="district" name="district" class="form-control"></select>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <input type="text" id="address" name="address" class="form-control"
                                               placeholder="详细地址"/>
                                    </div>
                                    <button type="submit" class="btn btn-default btn-sm">查询</button>
                                    <button type="submit" class="btn btn-default btn-sm">批量设置</button>
                                </form>
                            </div><!-- /.box-tools -->
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                            <table id="probe" class="table table-striped" width="100%">
                                <thead>
                                <tr>
                                    <th>所属渠道</th>
                                    <th>所属代理</th>
                                    <th>小区名称</th>
                                    <th>楼房名称</th>
                                    <th>网关ID</th>
                                    <th>数据上报URL</th>
                                    <th>上报间隔</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                        <!-- /.box-body -->
                    </div>
                    <!-- /.box -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <th:block th:include="fragments/footer :: footer"></th:block>
</div>

<th:block th:include="fragments/footer :: js"></th:block>
<script src="/AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/AdminLTE/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script src="/js/moment.js"></script>
<script src="/js/dict.js?area_code,alarm_type,alarm_status"></script>
<script src="/js/distpicker.js"></script>
<script src="/js/distpicker.init.js"></script>

<script th:inline="javascript">
    /*<![CDATA[*/
    fragment_polish("alarm");

    var authorities = [[${#authentication.getAuthorities()}]];
    distpickerInit(authorities);

    // 省市区联动
    $('#distpicker').distpicker({
        valueType: "code"
    });

    $(document).ready(function () {
        $.fn.dataTable.ext.errMode = 'none';
        var table = $('#probe').DataTable({
            "processing": true,
            "serverSide": true,
            "searching": false,
            "lengthChange": false,
            "pageLength": 20,
            "ordering": false,
            "ajax": "/gateway/list",
            "columns": [
                {"data": "channel.name"},
                {"data": "user.username"},
                {"data": "village"},
                {
                    "data": "address", "render": function (data, type, full, meta) {
                        return '<a href="/home?id=' + full.id + '">' + areaCodeDict.init().getAreaName(full.areaCode).join('') + data + '</a>';
                    }
                },
                {"data": "glImei"},
                {"data": "report_url"},
                {"data": "report_interval"},
                {
                    "data": "id", "render": function (data, type, full, meta) {
                        return '<a href="/gateway/probe/edit/' + data + '">设置</a>';
                    }
                }
            ]
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var province = $("#province").val();
            var city = $("#city").val();
            var district = $("#district").val();
            var areaCode = district ? district : (city ? city : province);
            var address = $("#address").val();
            var url = "/alarm/list?areaCode=" + areaCode + "&address=" + encodeURI(address);
            table.ajax.url(url).load();
            return false;
        });
    });
    /*]]>*/
</script>
</body>
</html>